html, body {
    overflow-x: hidden;
    background-color: #dddddd;
    overflow-y: scroll;
}
::-webkit-scrollbar {
    display: none;
}

#headerDiv {
    width: 100vw;
    margin: 0px;
    padding: 0px;
}

#jumboDiv{
    height: 30%;
    width: auto;
    border-bottom: 0px;
    margin: auto;
    text-align: center;
    padding-bottom: 0px;
    padding-top: 10px;
    background-color: #dddddd;
}

#jumboContent {
    color: #025aa5;

}

#profilePic {
    height: 135px;
    width: auto; /*130*/
    float: left;
}

#nameDiv {
    display: inline-block;
    text-align: center;
    border: 0px;
    margin: 0 auto;
    padding-top: 30px;
}


#headerText {
    font-size: 500%;
    border: 0px;
    margin: 0px;
    padding: 0px;
    padding-left: 10px;
}

#socialMedia {
    width: auto;
    display: inline-block;
    float: right;
    vertical-align: top;
    padding-top: 30px;
}

.linkpic {
    height: 64px;
    width: auto;
    opacity: 0.5;
    filter: alpha(opacity=50);
}
#linkedpic{
    height: 72px;
    width: 72px;
}
.linkpic:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}

#menuDiv{
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#navigationMobile {
    display: none;
    font-size: 32px
}

.mobileMenuDiv {
    width: 33%;
    display: inline-block;
    float: left;
    text-align: center;
}

#person {
    margin-left: 20px;
    margin-right: 0px;
    text-decoration: none;
}
#folder {
    margin-left: 20px;
    margin-right: 0px;
    text-decoration: none;
    text-align: center;
}
#mail {
    margin-left: 20px;
    margin-right: 0px;
    text-decoration: none;
    text-align: center;
}

#navigation {
    border-bottom: 0px;
    margin-bottom: 0px;
}

#menu {
    width: 100vw;
    text-align: center;
    font-weight: bold;
    margin-left: 0px;
}

#menu li {
    margin: 0px;
    padding: 0px;
    font-size: 150%;
    width: 33%;
}

.navbar-inverse .navbar-nav>li>a {
    /*The navbar*/
    color: #769cc1;
}

#mainContent {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

#scrollable {
    width: 400%;
    height: 100vh;
    padding-left: 0px;
}

.page {
    width: 100vw;
    height: 100vh;
    display: inline-block;
    float: left;

}

.pageContent {
    width: 75%;
    height: auto;
    background-color: #769cc1;
    margin: auto;
    padding-left: 0px;
    box-shadow: 2px 2px 10px 2px #888888;
}

.firstElementOnPage{
    margin-top: 45px;
}

#aboutContent {
    padding-top: 60px;
    padding-left: 60px;
    color: #292b2c;
}

#aboutPic {
    float: right;
}

#bigProfilePic {
    hight: auto;
    width: 200px;
    box-shadow: 1px 1px 10px 1px #1d1e1f;
}

#cvDiv {
    margin-left: 10px;
}

#factDIv {
    width: 100%;
    padding-bottom: 40px;
}

.nav-tabs>li.active>a{
    background-color: #769cc1;
}

.nav-tabs>li>a{
    color: #5e5c5c;
}

.nav-tabs>li.active>a:focus {
    background-color: #769cc1;
}

.list-group-item {
    background-color: #769cc1;
}

.tab-content {
    margin-top: 20px;
}

.minOnPhone h4 {
    margin-top: 0px;
}

#projects {
    height: 100vh;
}

#projects h4 {

}

.project {
    margin-bottom: 50px;
}

.projectPicDiv {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}

.projectTextDiv {
    text-align: justify;
    padding: 20px;
    margin-left: 15px;
    margin-right: 15px;
}

.projectTextDiv a {
    color: darkblue;
}

.projectPic {
    width: 300px;
    height: auto;
    padding:0px;
    margin: 0 auto;
}

.projectPicDiv :hover {
    box-shadow: 5px 5px 30px 0px #386591;
}

#vallaloggenPic {
    margin-top: 35px;
}

.glyf {
    font-size: 10em;
    text-align: center;
}

.projectLink {
    /*float: right;*/
    height: 100%;
    width: auto;
    vertical-align: middle;
    padding: 0px;

}

.gitProjectLink {
    display: block;
    margin: auto;
    margin-top: 40px;
    width: 120px;
    height: auto;
}

#project0 .projectLink {
    position: relative;
    top: 50%;
    transform: translateY(50%);
}

#contactContent {
    margin-bottom: 20px;
    height: auto;
}

.link {
    display: inline-block;
}

#media {
    margin-top: 40px;
    text-align: center;
}

#linkedContact {
    height: 74px;
}

#email {
    text-align: center;

    float: left;
    position: absolute;
    margin: 0 auto
}

#emailText {
    margin-left: 12%;
}

#handStandDiv {
    text-align: center;
    float: right;
    margin-top: -65px;
    margin-bottom: 15px;
}

#handStandPic {
    max-width: 50%;
    height: auto;
}


@media only screen and (max-width: 999px) {
    #aboutPic {
        margin-right: 5px;
    }
    #email {
        margin-top: 20px;
        float: none;
        position: relative;
    }
    #emailText {
        margin: 0 auto;
    }
    #handStandPic {
        max-width: 25%;
    }
    #handStandDiv {
        margin-top: 30px;
    }
    #project0 .projectLink {
        transform: none;
    }

}

@media only screen and (max-width: 768px) {
    #folder {
        padding-left: 7px;
    }
    #mail {
        padding-left: 16px;
    }
    .page{
        float: left;
    }
    .minOnPhone{
        float: left;
    }
    #bigProfilePic{
        width: 100px;
        margin-right: 10px;
    }
    .gitProjectLink {
        width: 75px;
        float: none;
        margin: 0 auto;
        margin-right: 230px;
    }
    .glyf {
        font-size: 10em;
        margin-left: 110px;
    }
}
@media only screen and (max-width: 767px) {
    #headerText {
        font-size: 400%;
        padding-left: 0px;
    }
    #jumboContent {
        font-size: 9px;
        margin-bottom: -27px;
        margin-top: -25px;
    }
    .hideOnPhone {
        display: none;
    }
    #socialMedia {
        display: none;
    }
    #menuDiv {
        display: none;
    }
    #navigationMobile {
        display: inline;
    }
    #folder {
        padding-left: 20px;
    }
    #mail .h3, h3 {
        font-size: 16px;
    }
    #handStandDiv {
        text-align: center;
    }
    #mainContent {
        margin-top: -50px;
    }
    #scrollable {
        margin-top: -15px;
    }
    .page {
        float: left
    }
    #aboutContent {
        padding: 30px;
    }
    #aboutPic {
        margin-right: 0px;
    }
    #bigProfilePic {
        width: 100px;
        hight: auto;
        box-shadow: none;
    }
    .gitProjectLink {
        width: 75px;
        float: none;
        margin: 0 auto;
        margin-right: 80px;
    }
    .glyf {
        margin-left: 0px;
    }
    .pageContent{
        box-shadow: none;
        width: 90%;
    }
    .nav-tabs>li>a{
        font-size: 0.7em;
    }
    .projectTextDiv {
        padding: 0px;
    }
}
h2 {
    text-align: center;
}