html, body {
    height: 100%;
    /*overflow-x: hidden;*/
}



#headerDiv {
    width:100vw;
    -webkit-transition: height 2s; /* Safari */
    transition: height 2s;
}

#jumboDiv{
    text-align: center;
    background-color: deepskyblue;
    border-bottom: 0px;
    margin-bottom: 0px;
}

#jumboContent {
    vertical-align: middle;
    text-align:center;
}

#headerText {
    font-size: 500%;
}

#menuDiv{
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#navigation {
    border-bottom: 0px;
    margin-bottom: 0px;
}

#menu {
    width: 100vw;
    text-align: center;
    font-weight: bold;
    margin-left: 0px;
}

#menu li {
    margin: 0px;
    padding: 0px;
    font-size: 150%;
}

#mainContent {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

#scrollable {
    width: 400%;
    height: 100vh;
    padding-left: 0px;
}

.page {
    width: 100vw;
    height: 100vh;
}

#about {
    background-color: deeppink;
}

#projects {
    background-color: mediumturquoise;
}

#contact {
    background-color: #3c763d;
}

@media only screen and (max-width: 767px) {
    #headerText {
        font-size: 400%;
    }
}
h2 {
    text-align: center;
}