html, body {
    overflow-x: hidden;
}

#headerDiv {
    width: 100vw;
    margin: 0px;
    padding: 0px;
}

#jumboDiv{
    height: 30%;
    width: auto;
    text-align: center;
    background-color: deepskyblue;
    border-bottom: 0px;
    margin: 0px;
}

#jumboContent {
    vertical-align: middle;
    text-align:center;
}

#headerText {
    font-size: 500%;
}

#menuDiv{
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#navigation {
    border-bottom: 0px;
    margin-bottom: 0px;
}

#menu {
    width: 100vw;
    text-align: center;
    font-weight: bold;
    margin-left: 0px;
}

#menu li {
    margin: 0px;
    padding: 0px;
    font-size: 150%;
}

#mainContent {
    width: 100%;
    height: 100%;
    overflow-x: hidden; /*change to hidden*/
    /*overflow-y: hidden;*/
}

#scrollable {
    width: 400%;
    height: 100vh;
    padding-left: 0px;
}

.page {
    width: 100vw;
    height: 100vh;
    display: inline-block; /*remove this for old version*/

}

#about {
    background-color: deeppink;
}

#projects {
    background-color: mediumturquoise;
}

#contact {
    background-color: #3c763d;
}

@media only screen and (max-width: 767px) {
    #headerText {
        font-size: 400%;
    }
}
h2 {
    text-align: center;
}

.changeOnDownScroll {
    animation-name: onDownScroll;
    animation-duration: 1s;
}

@keyframes onDownScroll {
    from {height: 30%;}
    to {height: 15%;}
}