#headerDiv{
    text-align: center;
    background-color: deepskyblue;
    border-bottom: 0px;
    margin-bottom: 0px;
}

#headerText {
    font-size: 500%;
}

#menuDiv{
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#navigation {
    border-bottom: 0px;
    margin-bottom: 0px;
}

#menu {
    width: 100vw;
    text-align: center;
    font-weight: bold;
    margin-left: 0px;
}

#menu li {
    margin: 0px;
    padding: 0px;
    font-size: 150%;
}

#about {
    background-color: deeppink;
    width: 100vw;
    height: 100vh;
}

#projects {
    background-color: mediumturquoise;
    width: 100vw;
    height: 100vh;
}

#contact {
    width: 100vw;
    height: 100vh;
    background-color: #3c763d;
}
@media only screen and (max-width: 767px) {
    #headerText {
        font-size: 400%;
    }
}
h2 {
    text-align: center;
}